Django==5.0.5
asgiref==3.8.1
beautifulsoup4==4.12.3
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dotenv==1.0.1
soupsieve==2.6
sqlparse==0.5.1
tzdata==2024.2
django-bootstrap3==24.2
django-mail-templated==2.6.5
django-widget-tweaks==1.5.0
gunicorn==22.0.0
packaging==24.0
python-decouple==3.8
