{% load static %}

{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}


<head>
    <meta charset="UTF-8">
    <title>Categorização</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet" />
  
</head>
{% if request.path != "/login/" and request.path != "/cadastro/" %}
    {% include 'core/navbar.html' %}
{% endif %}
{% block bootstrap5_content %}
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>
        {% block content %} (no content) {% endblock %}
    </div>



{% endblock %}